################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter3_AllProject/.vs/Chapter3_AllProject/FileContentIndex
/Chapter3_AllProject/.vs/Chapter3_AllProject/v17/.suo
/Chapter3_AllProject/.vs/Chapter3_AllProject/v17/DocumentLayout.json
/Chapter3_AllProject/BasicConsoleIO/bin/Debug/net6.0
/Chapter3_AllProject/BasicConsoleIO/obj/Debug/net6.0
/Chapter3_AllProject/BasicConsoleIO/obj
