################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter3_AllProject/.vs/Chapter3_AllProject/FileContentIndex
